@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Roboto:300,400,500,700,900);
a,
abbr,
acronym,
address,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike tt,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade {
  10% {
    transform: scale(1, 1); }
  35% {
    transform: scale(1, 1.7); }
  40% {
    transform: scale(1, 1.7); }
  50% {
    opacity: 1; }
  60% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 1);
    opacity: 0; } }
[class^="lang"] code,
[data-language] code,
pre [class^="lang"],
pre [data-language] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  animation: 50ms ease-in-out 2s forwards fade-in; }

[class^="lang"] code.rainbow,
[data-language] code.rainbow,
pre [class^="lang"].rainbow,
pre [data-language].rainbow {
  animation-delay: 0s; }

[class^="lang"] code.loading,
[data-language] code.loading,
pre [class^="lang"].loading,
pre [data-language].loading {
  animation-play-state: paused; }

pre {
  position: relative; }

pre.loading .preloader div {
  animation-play-state: running; }

pre.loading .preloader div:nth-of-type(1) {
  background: #0081f5;
  animation: fade 1.5s 300ms linear infinite; }

pre.loading .preloader div:nth-of-type(2) {
  background: #5000f5;
  animation: fade 1.5s 438ms linear infinite; }

pre.loading .preloader div:nth-of-type(3) {
  background: #9000f5;
  animation: fade 1.5s 577ms linear infinite; }

pre.loading .preloader div:nth-of-type(4) {
  background: #f50419;
  animation: fade 1.5s 715ms linear infinite; }

pre.loading .preloader div:nth-of-type(5) {
  background: #f57900;
  animation: fade 1.5s 853ms linear infinite; }

pre.loading .preloader div:nth-of-type(6) {
  background: #f5e600;
  animation: fade 1.5s 992ms linear infinite; }

pre.loading .preloader div:nth-of-type(7) {
  background: #00f50c;
  animation: fade 1.5s 1130ms linear infinite; }

pre .preloader {
  position: absolute;
  top: 12px;
  left: 10px; }

pre .preloader div {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
  opacity: 0;
  animation-play-state: paused;
  animation-fill-mode: forwards; }

pre {
  background-color: #000;
  word-wrap: break-word;
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

code,
pre {
  font-family: "Monaco", "Menlo", courier, monospace; }

pre {
  background-color: #1d1f21;
  color: #c5c8c6; }

pre .comment {
  color: #969896; }

pre .variable.class,
pre .variable.global,
pre .variable.instance {
  color: #c66; }

pre .constant.hex-color,
pre .constant.language,
pre .constant.numeric,
pre .keyword.unit {
  color: #de935f; }

pre .constant,
pre .entity,
pre .entity.class,
pre .support {
  color: #f0c674; }

pre .constant.symbol,
pre .string {
  color: #b5bd68; }

pre .entity.function,
pre .selector,
pre .support.css-property {
  color: #81a2be; }

pre .keyword,
pre .storage {
  color: #b294bb; }

/*Reset css start */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote:after, blockquote:before,
  q:after,
  q:before {
    content: ""; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Reset css end */
:root {
  font-size: 16px; }

/*Global Css starts */
a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

body {
  line-height: 1;
  font: 1em "Roboto", sans-serif;
  color: #000;
  position: relative;
  background: #fff; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-word-break: keep-all;
  -o-word-break: keep-all;
  -moz-word-break: keep-all;
  -ms-word-break: keep-all;
  word-break: keep-all; }

img {
  max-width: 100%;
  vertical-align: middle; }

.container {
  margin: 0 auto;
  width: 96%;
  max-width: 1400px; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

p {
  font: 300 1em/1.5em "Droid Serif", serif;
  padding-bottom: 12px; }

.clear20, .clear40, .clear60,
.clear {
  clear: both; }

.clear20 {
  height: 20px; }

.clear40 {
  height: 40px; }

.clear60 {
  height: 60px; }

h2, h3, h4, h5, h6,
h1 {
  color: #53BA2E;
  font: 2.125em "Roboto", sans-serif;
  padding-bottom: 12px; }

h2 {
  font-size: 1.9375em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.375em; }

h6 {
  font-size: 1.1875em; }

.desktop-only {
  display: block; }

.mobile-only,
.tab-mobile-only,
.tab-only {
  display: none; }

.loader {
  background: url("../images/loader.gif") no-repeat scroll center center #203651;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }

.loader.loaded {
  top: -100%; }

/*Global Css End */
/*form tag */
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  margin: 0;
  font: 0.75em "Roboto", sans-serif;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  input[type="date"]:active, input[type="date"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="number"]:active,
  input[type="number"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  input[type="text"]:active,
  input[type="text"]:focus,
  select:active,
  select:focus,
  textarea:active,
  textarea:focus {
    outline: none; }

select {
  background: none;
  padding: 9px 10px;
  cursor: pointer; }

textarea {
  resize: none;
  height: 80px; }

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0; }

/*Form Tag end */
span.has-error, label.has-error {
  background: none repeat scroll 0 0 #f00;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  padding: 4px 10px;
  position: relative; }

/*Common Buttons */
a.box-btn,
button.box-btn,
input[type=button],
input[type=reset],
input[type=submit] {
  display: inline-block;
  margin: 5px;
  background-color: #53BA2E;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
  font: 400 1em "Roboto", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a.box-btn.full-btn,
  button.box-btn.full-btn,
  input[type=button].full-btn,
  input[type=reset].full-btn,
  input[type=submit].full-btn {
    display: block;
    width: 100%;
    margin: 0; }
  a.box-btn.rounded,
  button.box-btn.rounded,
  input[type=button].rounded,
  input[type=reset].rounded,
  input[type=submit].rounded {
    border-radius: 50px; }
  a.box-btn.active, a.box-btn:hover,
  button.box-btn.active,
  button.box-btn:hover,
  input[type=button].active,
  input[type=button]:hover,
  input[type=reset].active,
  input[type=reset]:hover,
  input[type=submit].active,
  input[type=submit]:hover {
    background-color: #8edc72; }
  a.box-btn.secondary-btn,
  button.box-btn.secondary-btn,
  input[type=button].secondary-btn,
  input[type=reset].secondary-btn,
  input[type=submit].secondary-btn {
    background-color: #952eba;
    color: white; }
    a.box-btn.secondary-btn.active, a.box-btn.secondary-btn:hover,
    button.box-btn.secondary-btn.active,
    button.box-btn.secondary-btn:hover,
    input[type=button].secondary-btn.active,
    input[type=button].secondary-btn:hover,
    input[type=reset].secondary-btn.active,
    input[type=reset].secondary-btn:hover,
    input[type=submit].secondary-btn.active,
    input[type=submit].secondary-btn:hover {
      background-color: #ae49d2; }
  a.box-btn:active, a.box-btn:focus,
  button.box-btn:active,
  button.box-btn:focus,
  input[type=button]:active,
  input[type=button]:focus,
  input[type=reset]:active,
  input[type=reset]:focus,
  input[type=submit]:active,
  input[type=submit]:focus {
    outline: none; }

/*hack for mozzila */
@-moz-document url-prefix() {
  a.box-btn {
    padding-top: 11px;
    padding-bottom: 11px; } }
/*hack for mozzila end */
.input-type-select {
  overflow: hidden;
  position: relative; }
  .input-type-select:after {
    background: url("../images/custom-select.png") no-repeat scroll center center;
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 41px;
    z-index: 99999; }

section {
  padding-bottom: 1.25em; }
  section header {
    text-transform: uppercase;
    font: 1.5625em "Roboto", sans-serif;
    letter-spacing: 2px;
    color: #53BA2E;
    padding: 0.625em 0; }
  section article {
    font: 1.125em "Droid Serif", serif; }
  section.colors article ul:after {
    clear: both;
    content: "";
    display: block; }
  section.colors article li {
    float: left;
    width: 20%;
    text-align: center; }
    section.colors article li .color {
      display: inline-block;
      width: 70px;
      height: 70px; }
      section.colors article li .color.pc {
        background-color: #53BA2E; }
      section.colors article li .color.sc {
        background-color: #952eba; }
      section.colors article li .color.cv1 {
        background-color: #ac45d1; }
      section.colors article li .color.cv2 {
        background-color: #6ad145; }
    section.colors article li span {
      display: block;
      text-align: center;
      padding: 5px 0;
      font: 1.125em "Droid Serif", serif; }

/*# sourceMappingURL=documentation.css.map */
